* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}

.grocery {
    width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grocery .alert {
    margin: 20px auto 15px;
    width: 400px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-invalid {
    background-color: #ff879ca3 !important;
}

.alert-valid {
    background-color: #0080007a !important;
}

.edit {
    background-color: orange !important;
}

.no-edit {
    background-color: transparent !important;
}

.grocery .form-container {
    text-align: center;
}

.grocery .form-container > h3 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.05rem;
}

.form-container .form-control {
    margin: 15px auto;
    font-size: 18px;
    font-weight: 600;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f0f5fc;
}

.form-control .input-style {
    border: none;
    color: #798182;
    height: 38px;
    width: 250px;
    font-size: 18px;
    background-color: transparent;
}

.form-control .input-style:focus {
    outline: none !important;
}

.form-control .submit-btn {
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    border: none;
    background-color: #008fff52;
    transition: all 0.5s ease;
}

.form-control .submit-btn:hover {
    background-color: #008fff9e;
}

.list-container {
    margin: 50px auto;
    width: 400px;
    height: auto;
}

.list-container .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.list-container .list-item > p{
    font-size: 20px;
    font-weight: 400;
}

.list-container .list-item .list-title {
    
}

.list-item .grocery-btn-container {

}

.grocery-btn-container .edit-btn {
    font-size: 16px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    color: green;
}

.grocery-btn-container .delete-btn {
    font-size: 16px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    color: red;
}

.list-clear-btn {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: red;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.list-clear-btn:hover {
    opacity: 1;
}
